﻿@model Aplicantform.Models.PelamarModelView

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-3"><i class="fas fa-trash" style="display:block; width: 70%; height: 70%; margin: auto; color:darkred;  padding-top:15px"></i></div>
    <div class="form-group col-md-9" style="padding-top:20px; color:darkred">
        <div>
            <h4 style="margin: auto">Anda yakin ingin menghapus data </h4>
            <h4 style="margin: auto">@Html.DisplayFor(model => model.nama) ?</h4>
            @Html.HiddenFor(model => Model.id)
        </div>
    </div>
</div>
<div class="row" style="padding-top:40px; padding-right:20px">
    <div class="col-md-12">
        <div class="btn-group  col-md-offset-5" role="group" aria-label="Basic example" style="float:right">
            <button type="button" class="btn" style="background-color:orangered; color:white; width:90px" id="cancel" data-dismiss="modal">Tidak</button>
            <button type="button" class="btn" style="background-color:darkred; color:white; width:90px" id="btn_delete_save">Iya</button>
        </div>
    </div>
</div>
