﻿@model Aplicantform.Models.PelamarModelView

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_hp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_hp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tanggal_lahir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tanggal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alamat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jurusan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jurusan_show)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pertanyaan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pertanyaan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
