﻿@model Aplicantform.Models.PelamarModelView

@*@{
    ViewBag.Title = "Edit";
}*@
@*@using (Html.BeginForm())
    {*@
@*@Html.AntiForgeryToken()*@
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.nama, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nama, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nama, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.no_hp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.no_hp, new { htmlAttributes = new { @class = "form-control", @style = " required" } })
            @Html.ValidationMessageFor(model => model.no_hp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tanggal_lahir, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.tanggal_lahir, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            @Html.ValidationMessageFor(model => model.tanggal_lahir, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.alamat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.alamat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.alamat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.jurusan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.jurusan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.jurusan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pertanyaan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pertanyaan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pertanyaan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div style="float:right">
            <input type="submit" value="Edit" class="btn btn-default" id="btn_edit_save" style="background-color:#050569; color:white" />
        </div>
    </div>
</div>
@*}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
