﻿@*@{
    ViewBag.Title = "Home Page";
}*@

<!-- modal popup bootstrap - CRUD Form -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelAdd" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:430px">
        <!-- modal content -->
        <div class="modal-content" style=" border-color:#050569">
            <!-- modal header -->
            <div class="modal-header" id="modal-header" style="background-color:#050569">
                <button class="close" style="color:white" id="tutup" data-dismiss="modal">
                    &times;
                </button>
                <h3 class="modal-title" id="modal-title-popup"
                    style="color:white">
                    Judul Modal
                </h3>
            </div>
            <!-- modal body dan footer -->
            <div class="div-bind-form" id="div-bind-form" style="margin-top: 10px; margin-left: 40px; margin-right: 40px; margin-bottom: 25px">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>



<!-- modal popup bootstrap - Delete Form -->
<div class="modal fade" id="modal-form-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelAdd" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:500px">
        <!-- modal content -->
        <div class="modal-content" style=" border-color:darkred">
            <!-- modal header -->
            <div class="modal-header" id="modal-header" style="background-color:darkred">
                <button class="close" style="color:white" id="tutup-delete" data-dismiss="modal">
                    &times;
                </button>
                <h3 class="modal-title" id="modal-title-popup-delete"
                    style="color:white">
                    Judul Modal
                </h3>
            </div>
            <!-- modal body dan footer -->
            <div class="div-bind-form" id="div-bind-form" style="margin-top:10px; margin-left:10px; margin-right:10px; margin-bottom:10px">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>




<div id="table-list">
    <div class="progress progress-striped active"
         style="margin-bottom:0">
        <div class="progress-bar" style="width:100%">
        </div>
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            ShowList();
        });
        var vjs_loading = '<div class="progress progress-striped active" style="margin-bottom:0"> <div class="progress-bar" style="width:100%"> </div> </div>';

        function ShowList() {
            $("#table-list").html(vjs_loading);
                $.ajax({
                    url: '@Url.Action("List", "Home")',
                    type: 'get',
                    success: function (result) {
                    $("#table-list").html(result);
                    }
                });
        }


        //Popup Tambah Data
        $(document).on("click", "#btn_create", function () {
            $("#modal-form").modal("show");
            $("#modal-title-popup").html("Tambah Data");
            $(".div-bind-form").html(vjs_loading);

            $.ajax({
                url: '@Url.Action("Create", "Home")',
                type: 'get',
                success: function (result) {
                    $(".div-bind-form").html(result);
                }
            });
        });

        $(document).on("click", "#btn_add_save", function () {
            var vjs_nama = $("#nama").val();
            var vjs_no_hp = $("#no_hp").val();
            var vjs_email = $("#email").val();
            var vjs_tanggal_lahir = $("#tanggal_lahir").val();
            var vjs_alamat = $("#alamat").val();
            var vjs_jurusan = $("#jurusan").val();
            var vjs_pertanyaan = $("#pertanyaan").val();

            var item = {
                nama: vjs_nama,
                no_hp: vjs_no_hp,
                email: vjs_email,
                tanggal_lahir: vjs_tanggal_lahir,
                alamat: vjs_alamat,
                jurusan: vjs_jurusan,
                pertanyaan: vjs_pertanyaan
            };
            $.ajax({
                url: '@Url.Action("Create", "Home")',
                type: 'post',
                data: { paramModel: item },
                success: function (result) {
                    if (result.success) {
                        $("#modal-form").modal("hide");
                        alert("Data Berhasil Ditambah");
                        ShowList();
                    }
                    else {
                        alert(result.message);
                    }
                }
            });
        });


        //Popup Detail
        $(document).on("click", "#detail-sales", function () {
            $("#modal-form").modal("show");
            $("#modal-title-popup").html("Detail");
            $(".div-bind-form").html(vjs_loading);

            var vjs_id = $(this).attr("data-id");

            $.ajax({
                url: '@Url.Action("Detail", "Home")',
                type: 'get',
                data: { paramId: vjs_id },
                success: function (result) {
                    $(".div-bind-form").html(result);
                }
            })
        });



        //Popup Edit
        $(document).on("click", "#edit-sales", function () {
            $("#modal-form").modal("show");
            $("#modal-title-popup").html("Edit");
            $(".div-bind-form").html(vjs_loading);

            var vjs_id = $(this).attr("data-id");

            $.ajax({
                url: '@Url.Action("Edit", "Home")',
                type: 'get',
                data: { paramId: vjs_id },
                success: function (result) {
                    $(".div-bind-form").html(result);
                }
            })
        });

        $(document).on("click", "#btn_edit_save", function () {
            var vjs_id = $("#id").val();
            var vjs_nama = $("#nama").val();
            var vjs_no_hp = $("#no_hp").val();
            var vjs_email = $("#email").val();
            var vjs_tanggal_lahir = $("#tanggal_lahir").val();
            var vjs_alamat = $("#alamat").val();
            var vjs_jurusan = $("#jurusan").val();
            var vjs_pertanyaan = $("#pertanyaan").val();

            var itemEdit = {
                id: vjs_id,
                nama: vjs_nama,
                no_hp: vjs_no_hp,
                email: vjs_email,
                tanggal_lahir: vjs_tanggal_lahir,
                alamat: vjs_alamat,
                jurusan: vjs_jurusan,
                pertanyaan: vjs_pertanyaan
            };

            $.ajax({
                url: '@Url.Action("Edit", "Home")',
                type: 'post',
                data: { paramModel: itemEdit },
                success: function (result) {
                    if (result.success) {
                        $("#modal-form").modal("hide");
                        alert("Data Berhasil Diubah");
                        ShowList();
                    }
                    else {
                        alert(result.message);
                    }
                }
            });
        });



        //Popup Delete
        $(document).on("click", "#delete-sales", function () {
            $("#modal-form-delete").modal("show");
            $("#modal-title-popup-delete").html("Hapus Data ?");
            $(".div-bind-form").html(vjs_loading);

            var vjs_id = $(this).attr("data-id");

            $.ajax({
                url: '@Url.Action("Delete","Home")',
                type: 'get',
                data: { Id: vjs_id },
                success: function (result) {
                    $(".div-bind-form").html(result);
                }
            });
        });

        $(document).on("click", "#btn_delete_save", function () {
            var vjs_id = $("#id").val();

            var itemDelete = {
                id: vjs_id
            };
            $.ajax({
                url: '@Url.Action("Delete", "Home")',
                type: 'post',
                data: { paramModel: itemDelete },
                success: function (result) {
                    if (result.success) {
                        $("#modal-form-delete").modal("hide");
                        alert("Data Berhasil Dihapus");
                        ShowList();
                    }
                    else {
                        alert(result.message);
                    }
                }
            });
        });





    </script>
}