﻿@model IEnumerable<Aplicantform.Models.PelamarModelView>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    <a href="#" title="Tambah Data" id="btn_create" name="btn_create">
        <span class="glyphicon glyphicon-plus-sign" style="font-size:20px;color:#050569"></span>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_hp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tanggal_lahir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jurusan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pertanyaan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_hp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jurusan_show)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pertanyaan)
            </td>
            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle btn" href="#" type="button" data-toggle="dropdown" style="background-color: #050569; color: white">More <span class="caret" style="border-top: 4px solid #FFFFFF"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="detail-sales" data-id="@item.id">Detail</a></li>
                        <li><a href="#" id="edit-sales" data-id="@item.id">Edit</a></li>
                        <li><a href="#" id="delete-sales" data-id="@item.id">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
